<div class="all">

  <div class="container">
    <div class="search__inner">
      <label for="search-input"></label>
      <input type="text" class="search__title" id="search-input" placeholder="Search by model" [(ngModel)]="searchModel"
             (keyup.enter)="searchCar()"/>
      <div class=" button_search">
        <button class="button__search" type="button" (click)="searchCar()">
          Search
        </button>
      </div>
    </div>
  </div>

  <div class="list">
    <h4>List of cars</h4>
    <ul class="list__group" *ngIf="cars[0].id">
      <li class="list-group-item" *ngFor="let car of cars; let i = index" [class.active]="i == currentIndex"
          (click)="setActiveCar(car, i)">
        {{ car.mark + " " + car.model}}
      </li>
    </ul>
  </div>
  <div class="inf__cars">
    <div *ngIf="currentCar.id">
      <h4>Information about the car</h4>
      <div class="item">
        <label><strong>Brand:</strong></label> {{ currentCar.mark }}
      </div>
      <div class="item">
        <label><strong>Model:</strong></label> {{ currentCar.model }}
      </div>
      <div class="item">
        <label><strong>Year:</strong></label> {{ currentCar.year }}
      </div>
      <div class="item">
        <label><strong>Price:</strong></label> {{currentCar.price}}
      </div>

      <a class="link" routerLink="/cars/{{ currentCar.id }} ">
        Edit
      </a>
    </div>

    <div *ngIf="!currentCar.id">
      <br/>
      <p>Please click on a car...</p>
    </div>
  </div>
</div>
