<div class="update">
    <div *ngIf="currentTutorial" class="container">
        <h4>CARS</h4>
        <form>
            <div class="group">
                <label for="title">Brand</label>
                <input type="text" class="input" id="title" [(ngModel)]="currentTutorial.data.title" name="title" />
            </div>
            <div class="group">
                <label for="description">Model</label>
                <input type="text" class="input" id="description" [(ngModel)]="currentTutorial.data.description" name="description" />
            </div>

            <div class="group">
                <label><strong>Status:</strong></label> {{ currentTutorial.published ? "Published" : "Pending" }}
            </div>
        </form>

        <button class="button_update" *ngIf="currentTutorial.published" (click)="updatePublished(false)">
      UnPublish
    </button>
        <button *ngIf="!currentTutorial.published" class="button_update" (click)="updatePublished(true)">
      Publish
    </button>

        <button class="button_update" (click)="deleteTutorial()">
      Delete
    </button>

        <button type="submit" class="button_update" (click)="updateTutorial()">
      Update
    </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentTutorial">
        <br />
        <p>Cannot access this CAR...</p>
    </div>
</div>