<div class="add">
    <div class="container">
        <div *ngIf="!submitted">
            <div class="group">
                <label class="label" for="title">Brand</label>
                <input class="input" type="text" id="title" required [(ngModel)]="car.title" name="title" />
            </div>

            <div class="group">
                <label class="label" for="description">Model</label>
                <input class="input" id="description" required [(ngModel)]="car.description" name="description" />
            </div>

            <button (click)="saveCar()" class="button_success">Submit</button>
        </div>

        <div *ngIf="submitted">
            <h4>You submitted successfully!</h4>
            <button class="button_success" (click)="newCar()">Add</button>
        </div>
    </div>
</div>