<div class="all">

    <div class="container">
        <div class="search__inner">
            <input type="text" class="search__title" placeholder="Search by title" [(ngModel)]="title" />
            <div class="button_search">
                <button class="button__search" type="button" (click)="searchTitle()">
                Search
              </button>
            </div>
        </div>
    </div>

    <div class="list">
        <h4>List of cars</h4>
        <ul class="list__group">
            <li class="list-group-item" *ngFor="let tutorial of tutorials; let i = index" [class.active]="i == currentIndex" (click)="setActiveTutorial(tutorial, i)">
                {{ tutorial.mark }}
            </li>
        </ul>
    </div>
    <div class="inf__cars">
        <div *ngIf="currentTutorial ">
            <h4>Information about the car</h4>
            <div class="item">
                <label><strong>Brand:</strong></label> {{ currentTutorial.mark }}
            </div>
            <div class="item">
                <label><strong>Model:</strong></label> {{ currentTutorial.model }}
            </div>
            <div class="item">
                <label><strong>Year:</strong></label> {{ currentTutorial.year }}
            </div>

            <a class="link" routerLink="/tutorials/{{ currentTutorial.id }} ">
          Edit
        </a>
        </div>

        <div *ngIf="!currentTutorial ">
            <br />
            <p>Please click on a car...</p>
        </div>
    </div>
</div>